<div class="container d-flex justify-content-center">
  <div class="card text-center text-bg-secondary w-60 mt-4">
    <div class="card-header">
      <h1>404</h1>
    </div>
    <div class="card-body">
      <h5 class="card-title">Nothing to see here...</h5>
      <p class="card-text">Why don't you head back over to the main page?</p>
      <a href="#" class="btn btn-danger">Go Home</a>
    </div>
  </div>
</div>