/* GLOBAL */

body {
    background-color: rgb(153, 168, 229);
}

/* HOME */

.viewPostBtn:hover, 
.viewPostBtn:active {
    background-color: green;
}
.date-text {
    font-size: 80%;
}

.signup {
    display: none;
}